<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%for men in people %}
        <h1>{{ men.name }}</h1>
        <p>{{ men.age }}</p>
        <div>
            <a href="{% url 'user' men.id %}"> подробнее</a>
            <a href="{% url 'update' men.id %}"> редактировать</a>
            <a href="{% url 'delete' men.id %}"> удалить</a>
        </div>
        <hr>
    {% endfor %}
    <p>{{ chel }} человек</p>
    <a href="{% url 'create' %}"> добавить</a>

</body>
</html>